@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

body {
    background: #fbff00;
    background: linear-gradient(90deg, rgba(251, 255, 0, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    font-family: Cookie, Arial, Helvetica, sans-serif;
    font-weight: 400;
}

h1 {
    margin-top: 20px;
}

p {
    font-size: large;
}

a {
    color:#fbff00;
}
a:hover {
    color: rgb(213, 181, 0);
}